[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "*"
validators = "*"


[requires]
python_version = "3.6"

[dev-packages]
watchdog = "*"
tox = "*"
cryptography = "*"
pytest = "*"
pytest-runner = "*"
sphinx = "*"
PyYAML = "*"
coverage = "*"
bumpversion = "*"
pylint = "*"
flake8 = "*"
wheel = "*"